@use '../../../styled/extend.scss' as *;
@use '../../../styled/mixin.scss' as *;

#soon{
    max-height: 1200px;
    overflow: hidden;
    padding: 0;
    .soon-left{
        @include Flexible($justify:space-between,$direction:column);
        height: 1200px;
        padding: 80px;
        background-color: #B9A9FB;
        h1{
            @extend %headed;
        }
        button{
            max-width: max-content;
            border: none;
            @extend %btn;
            button{
                border:none;
                margin-left: 12px;
                padding: 2px 8px ;
                border-radius: 12px;
                background: var(--neutral-03, #E1E2E2);
                @extend %label
            }
        }
    }
}