@use '../../styled/extend.scss' as *;
@use '../../styled/mixin.scss' as *;

.create-left1{
    height: 100%;
    padding: 50px;
    @include Flexible($direction:column,$justify:space-between);
    .top{
        h1{
            @extend %headed;
        }
        img{
            margin-top: 42px;
            width: 172px;
            height: 62px;
        }
    }
    .bottom{
        p{
            color: var(--Neutral-05, #686A6C);
            @include Texting($size:20px,$weight:500,$height:32px,$spacing:-0.4px);
        }
    }
}