@use '../../styled/mixin.scss' as*;
.create-nav{
    @include Flexible($justify:space-between,$align:center);
    padding: 20px 40px;
    background: var(--Neutral-01, #F7FBFA);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.05);
    .logo{
        display: flex;
        svg{
            width: 40px;
            height: 40px;
            margin-right: 12px;
        }
        p{
            color: #000000;
            font-size: 24px;
            font-weight: 900;
            line-height: 40px; /* 166.667% */
            margin: 0;
        }
    }
    .ppf{
        cursor: pointer;
        border-radius: 32px;
        overflow: hidden;
        border: 2px solid var(--opacity-0150, rgba(247, 251, 250, 0.50));
        background-color:  #BDE5C1;
        img{
            width: 48px;
            height: 48px;
            object-fit: cover;
        }
    }
}