@use '../../styled/extend.scss' as *;
@use '../../styled/mixin.scss' as *;
.notif-activity{
    height: 100%;
    background: var(--Neutral-08, #010101);
    padding: 60px;
    padding-top: 0;
    .secs{
        padding: 0;
        list-style: none;
        @include Flexible($justify:space-evenly,$align:center);
        li:first-child{
            color: var(--neutral-01, #F7FBFA);
        }
        li{
            text-align: center;
            border-bottom: 1px solid var(--neutral-07, #202025);
            padding: 28px 52px;
            color: var(--neutral-05, #686A6C);
            @include Texting($size:16px,$weight:700,$height:24px,$spacing:-0.16px);
            button{
                margin-left: 8px;
                padding: 2px 8px;
                border-radius: 8px;
                @include Texting($size:16px,$weight:700,$height:24px,$spacing:-0.16px);
            }
            button:first-child{
                background: var(--Accent-4, #DBFF73);
            }
            button:last-child{
                background: var(--Accent-4, #B9A9FB);
            }
        }
    }
    .hd{
        @extend %def-h5;
        margin: 40px 0;
    }
}