@use '../../../../styled/extend.scss' as *;
@use '../../../../styled/mixin.scss' as *;
.spot-card{
    img{
        object-fit: cover;
        width: 260px;
        height: 260px;
        border-radius: 20px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
    .lower{
        margin-top: 24px;
        @include Flexible($justify:space-between);
        h6{
            color: #F7FBFA;
            @extend %def-p2;
        }
        p{
            color: #686A6C;
            @include Texting($size:16px,$weight:700,$height:24px,$spacing:-0.16px);
            span{
                color: #F7FBFA;
            }
        }
        .profile-ps{
            @include Flexible($align:flex-start);
            padding: 8px;
            img{
                width: 32px;
                height: 32px;
                margin-right: -8px;
                border-radius: 32px;
                background: url(<path-to-image>), lightgray 50% / cover no-repeat, #C5BEDA;
             }
            }
    }
}