@use '../../../../styled/extend.scss' as*;
@use '../../../../styled/mixin.scss' as *;

.date-timer{
    .date{
        p{
            @extend %def-p;
            color: #F7FBFA
        }
        h5{
            @extend %def-h5;
            color: #F7FBFA;
            ul{
                padding: 0;
                list-style: none;
                @include Flexible($gap:32px);
            }
        }
    }
}